// Primary colours
$colour-red: #b60011;
$colour-charcoal: #1d1d1b;
$colour-dark-grey: #585958;
$colour-mid-grey: #7D7D7D;
$colour-pale-grey: #E0E0E0;
$colour-light-grey: #EEF0F0;
$colour-white: #FFFFFF;
$colour-black: #000000;
$colour-error: #EB0019;
$colour-cookieBlue:#86B5FF;
$colour-muted: #505a5f;

// Secondary colours
$colour-focus-blue-light: #095AA2;
$colour-focus-blue-dark: #67b0EA;
$colour-primary-button: #009429;
$colour-secondary-button: #0048AF;

// Grey stats colours
$colour-stats-grey-lightest: #D4D3D3;
$colour-stats-grey-lighter: #B9B9B6;
$colour-stats-grey-light: #91918E;
$colour-stats-grey-dark: #6B6A69;
$colour-stats-grey-darker: #474744;
$colour-stats-grey-darkest: #1C1C1B;

// Red stats colours
$colour-stats-red-lightest: #FF9A75;
$colour-stats-red-lighter: #FB5536;
$colour-stats-red-light: #B91806;
$colour-stats-red-dark: #8B0F00;
$colour-stats-red-darker: #5D0600;
$colour-stats-red-darkest: #420302;

// Mixed stats colours
$colour-stats-mixed-red: #B91806;
$colour-stats-mixed-blue: #334582;
$colour-stats-mixed-pink: #FF39D4;
$colour-stats-mixed-orange: #FF7E11;
$colour-stats-mixed-Green: #009429;
$colour-stats-mixed-light-blue: #86B5FF;
$colour-stats-mixed-light-grey: #ACABA8;
$colour-tides-table-light-blue: #E5F5FE;
$colour-tides-table-mid-blue: #9abdcb;