.govje-summary-list {
    width: 100%;
    border-collapse: collapse;
}

.govje-summary-list--row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #b1b4b6;
    flex-wrap: wrap;
}

.govje-summary-list--key {
    font-weight: bold;
    margin: 0;
}

.govje-summary-list--value {
    margin: 0;
}

@media (min-width: 640px) {
    .govje-summary-list--row {
        flex-direction: row;
    }

    .govje-summary-list--key {
        width: 50%;
    }

    .govje-summary-list--value {
        width: 50%;
        text-align: left;
    }
}
